/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

:root {
  font-size: 10px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cute Font', cursive;
  color: #fff;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #888;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF0000;
}

.my-timer-app {
  background: #141414;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  position: relative;
  width: 1100px;
  height: 720px;
  padding: 170px 130px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Time Display */
.time-display {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 200px;
  height: 60px;
  font-size: 3rem;  
}
.time-display div {
  line-height: 30px;
  text-align: right;
}
.time-display .y-m-d-d-time-box .year::after,
.time-display .y-m-d-d-time-box .month::after,
.time-display .y-m-d-d-time-box .date::after {
  content: '.';
}
.time-display .y-m-d-d-time-box .day::after {
  content: '요일';
}
.time-display .h-m-s-time-box .hour::after,
.time-display .h-m-s-time-box .minute::after {
  content: ' :';
}

/* Common */
.stopwatch, .timer {
  width: 360px;
  height: 480px;
  border-radius: 20px;
}

.control-box {
  width: 280px;
  height: 60px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: 90px;
  height: 50px;
  border-radius: 30px;
  font-size: 3rem;
}
.btn-blue {
  background-color: #0029FF;
}
.btn-red {
  background-color: #FF0000;
}
.btn-darkgrey {
  background-color: #434343;
}


/* StopWatch */
.stopwatch {
  background: #493C9B;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.stopwatch > .m-s-display {
  width: 280px;
  height: 60px;
  font-size: 6rem;
  text-align: center;
  word-spacing: 0.5rem;
}
.stopwatch > .m-s-display .m::after {
  content: ' :';
}

.stopwatch > .control-box {
  margin-top: 20px;
}
.stopwatch > .control-box button#stopwatch-left-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.stopwatch > .time-laps-table {
  width: 280px;
  height: 280px;
  margin-top: 20px;
  overflow: auto;
}
.stopwatch > .time-laps-table > table {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  border-collapse: collapse;
}
.stopwatch > .time-laps-table > table > thead {
  border-bottom: 1px solid #fff;
  height: 50px;
}
.stopwatch > .time-laps-table > table > tbody tr {
  height: 50px;
}




/* Timer */
.timer {
  background: #0B9890;
}